<div class="footer">
  <carousel [loop]="true" [margin]="1" [autoplay]="true" [dots]="true" [objectFit]="'cover'"
            [transitionTimingFunction]="'ease-in'">
    <div class="carousel-cell">
      <span class="animated-badge">4</span>
      <img src="http://localhost:4202/assets/images/customer-service.png">
    </div>
    <div class="carousel-cell">
      <img src="http://localhost:4202/assets/images/package.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">2</span>
      <img src="http://localhost:4202/assets/images/clipboard.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">100</span>
      <img src="http://localhost:4202/assets/images/warning.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">1</span>
      <img src="http://localhost:4202/assets/images/delivery-truck.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">32</span>
      <img src="http://localhost:4202/assets/images/gift.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">4</span>
      <img src="http://localhost:4202/assets/images/customer-service.png">
    </div>
    <div class="carousel-cell">
      <img src="http://localhost:4202/assets/images/package.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">2</span>
      <img src="http://localhost:4202/assets/images/clipboard.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">100</span>
      <img src="http://localhost:4202/assets/images/warning.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">1</span>
      <img src="http://localhost:4202/assets/images/delivery-truck.png">
    </div>
    <div class="carousel-cell">
      <span class="animated-badge">32</span>
      <img src="http://localhost:4202/assets/images/gift.png">
    </div>
  </carousel>
</div>
